{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title text-center font-weight-bold" style="font-size:50px">Add New contest</h4>
            </div>
            <div class="content ">
                <form method="post" action="{% url 'Core:add_contest' %}">
                    {% csrf_token %}
                    {% crispy contest_form %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}